home-automation/smart-doorbell/node-red/doorbell-alert_flow.json
[
   {
      "id":"221d2268889f1b7d",
      "type":"server-state-changed",
      "z":"42ef241db2bb2680",
      "name":"Doorbell",
      "server":"c37cf6c9.93b9b8",
      "version":6,
      "outputs":2,
      "exposeAsEntityConfig":"",
      "entities":{
         "entity":[
            "binary_sensor.doorbell_button"
         ],
         "substring":[
            
         ],
         "regex":[
            
         ]
      },
      "outputInitially":false,
      "stateType":"str",
      "ifState":"on",
      "ifStateType":"str",
      "ifStateOperator":"is",
      "outputOnlyOnStateChange":true,
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         {
            "property":"payload",
            "propertyType":"msg",
            "value":"",
            "valueType":"entityState"
         },
         {
            "property":"data",
            "propertyType":"msg",
            "value":"",
            "valueType":"eventData"
         },
         {
            "property":"topic",
            "propertyType":"msg",
            "value":"",
            "valueType":"triggerId"
         }
      ],
      "x":60,
      "y":180,
      "wires":[
         [
            "50b14acccc88b076"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"0266c7d24aa423d4",
      "type":"inject",
      "z":"42ef241db2bb2680",
      "name":"Test Doorbell",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "x":150,
      "y":100,
      "wires":[
         [
            "50b14acccc88b076"
         ]
      ]
   },
   {
      "id":"50b14acccc88b076",
      "type":"delay",
      "z":"42ef241db2bb2680",
      "name":"Limit 1 per 30s",
      "pauseType":"rate",
      "timeout":"2",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"30",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":true,
      "allowrate":false,
      "outputs":1,
      "x":280,
      "y":180,
      "wires":[
         [
            "8c51999d501ceb5a",
            "5e5f226dbd2219f4",
            "new_tv_check"
         ]
      ]
   },
   {
      "id":"5e5f226dbd2219f4",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Notify all_devices",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":true,
      "action":"notify.all_devices",
      "data":"{\n   \"title\": \"Home Assistant\",\n   \"message\": \"Er word aangebeld !!🔔\"\n}",
      "dataType":"json",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":false,
      "domain":"notify",
      "service":"all_devices",
      "x":570,
      "y":60,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"new_tv_check",
      "type":"api-current-state",
      "z":"42ef241db2bb2680",
      "name":"Is TV Playing?",
      "server":"c37cf6c9.93b9b8",
      "version":3,
      "outputs":2,
      "halt_if":"playing",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"media_player.android_tv_3",
      "state_type":"str",
      "blockInputOverrides":true,
      "outputProperties":[
         
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":560,
      "y":140,
      "wires":[
         [
            "f821766a367d01bf"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"f821766a367d01bf",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Pause TV",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"media_player.media_pause",
      "entityId":[
         "media_player.android_tv_3"
      ],
      "data":"",
      "dataType":"json",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":false,
      "domain":"media_player",
      "service":"media_pause",
      "x":780,
      "y":140,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"8c51999d501ceb5a",
      "type":"api-current-state",
      "z":"42ef241db2bb2680",
      "name":"baby slaapt",
      "server":"c37cf6c9.93b9b8",
      "version":3,
      "outputs":2,
      "halt_if":"on",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"input_boolean.slaaptijd",
      "state_type":"str",
      "blockInputOverrides":true,
      "outputProperties":[
         
      ],
      "for":"0",
      "forType":"num",
      "forUnits":"minutes",
      "override_topic":false,
      "state_location":"payload",
      "override_payload":"msg",
      "entity_location":"data",
      "override_data":"msg",
      "x":550,
      "y":260,
      "wires":[
         [
            
         ],
         [
            "new_save_vol1"
         ]
      ]
   },
   {
      "id":"new_save_vol1",
      "type":"api-current-state",
      "z":"42ef241db2bb2680",
      "name":"Snapshot Vol 1",
      "server":"c37cf6c9.93b9b8",
      "version":3,
      "outputs":1,
      "halt_if":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"media_player.nesthub6e8c",
      "state_type":"str",
      "blockInputOverrides":true,
      "outputProperties":[
         {
            "property":"vol1",
            "propertyType":"msg",
            "value":"$exists(entity.attributes.volume_level) ? entity.attributes.volume_level : 0.5",
            "valueType":"jsonata"
         }
      ],
      "x":750,
      "y":260,
      "wires":[
         [
            "new_save_vol2"
         ]
      ]
   },
   {
      "id":"new_save_vol2",
      "type":"api-current-state",
      "z":"42ef241db2bb2680",
      "name":"Snapshot Vol 2",
      "server":"c37cf6c9.93b9b8",
      "version":3,
      "outputs":1,
      "halt_if":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"media_player.nesthub1b3e_11",
      "state_type":"str",
      "blockInputOverrides":true,
      "outputProperties":[
         {
            "property":"vol2",
            "propertyType":"msg",
            "value":"$exists(entity.attributes.volume_level) ? entity.attributes.volume_level : 0.5",
            "valueType":"jsonata"
         }
      ],
      "x":950,
      "y":260,
      "wires":[
         [
            "set_vol_hub1",
            "set_vol_hub2"
         ]
      ]
   },
   {
      "id":"set_vol_hub1",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Hub 1: 90%",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"media_player.volume_set",
      "entityId":[
         "media_player.nesthub6e8c"
      ],
      "data":"{\"volume_level\":\"0.9\"}",
      "dataType":"json",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":true,
      "domain":"media_player",
      "service":"volume_set",
      "x":1170,
      "y":220,
      "wires":[
         [
            "micro_delay_node"
         ]
      ]
   },
   {
      "id":"set_vol_hub2",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Hub 2: 90%",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"media_player.volume_set",
      "entityId":[
         "media_player.nesthub1b3e_11"
      ],
      "data":"{\"volume_level\":\"0.9\"}",
      "dataType":"json",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":true,
      "domain":"media_player",
      "service":"volume_set",
      "x":1170,
      "y":300,
      "wires":[
         [
            "micro_delay_node"
         ]
      ]
   },
   {
      "id":"micro_delay_node",
      "type":"delay",
      "z":"42ef241db2bb2680",
      "name":"Wacht 1s",
      "pauseType":"delay",
      "timeout":"1",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":1350,
      "y":260,
      "wires":[
         [
            "play_hub1",
            "play_hub2"
         ]
      ]
   },
   {
      "id":"play_hub1",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Play Hub 1",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"media_player.play_media",
      "entityId":[
         "media_player.nesthub6e8c"
      ],
      "data":"{\"media_content_id\":\"media-source://media_source/local/doorbell.mp3\",\"media_content_type\":\"audio/mpeg\",\"announce\":true}",
      "dataType":"json",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":true,
      "domain":"media_player",
      "service":"play_media",
      "x":1530,
      "y":220,
      "wires":[
         [
            "wacht_15s"
         ]
      ]
   },
   {
      "id":"play_hub2",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Play Hub 2",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"media_player.play_media",
      "entityId":[
         "media_player.nesthub1b3e_11"
      ],
      "data":"{\"media_content_id\":\"media-source://media_source/local/doorbell.mp3\",\"media_content_type\":\"audio/mpeg\",\"announce\":true}",
      "dataType":"json",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":true,
      "domain":"media_player",
      "service":"play_media",
      "x":1530,
      "y":300,
      "wires":[
         [
            "wacht_15s"
         ]
      ]
   },
   {
      "id":"wacht_15s",
      "type":"delay",
      "z":"42ef241db2bb2680",
      "name":"Wacht 15s",
      "pauseType":"delay",
      "timeout":"15",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":1720,
      "y":260,
      "wires":[
         [
            "restore_vol1",
            "restore_vol2"
         ]
      ]
   },
   {
      "id":"restore_vol1",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Restore Vol 1",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"media_player.volume_set",
      "entityId":[
         "media_player.nesthub6e8c"
      ],
      "data":"{\"volume_level\": msg.vol1}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":true,
      "domain":"media_player",
      "service":"volume_set",
      "x":1920,
      "y":220,
      "wires":[
         [
            "wacht_5s"
         ]
      ]
   },
   {
      "id":"restore_vol2",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Restore Vol 2",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"media_player.volume_set",
      "entityId":[
         "media_player.nesthub1b3e_11"
      ],
      "data":"{\"volume_level\": msg.vol2}",
      "dataType":"jsonata",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":true,
      "domain":"media_player",
      "service":"volume_set",
      "x":1920,
      "y":300,
      "wires":[
         [
            "wacht_5s"
         ]
      ]
   },
   {
      "id":"wacht_5s",
      "type":"delay",
      "z":"42ef241db2bb2680",
      "name":"Wacht 5s",
      "pauseType":"delay",
      "timeout":"5",
      "timeoutUnits":"seconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "allowrate":false,
      "outputs":1,
      "x":2110,
      "y":260,
      "wires":[
         [
            "off_all"
         ]
      ]
   },
   {
      "id":"off_all",
      "type":"api-call-service",
      "z":"42ef241db2bb2680",
      "name":"Turn Off Speakers",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"media_player.turn_off",
      "entityId":[
         "media_player.nesthub6e8c",
         "media_player.nesthub1b3e_11"
      ],
      "data":"",
      "dataType":"json",
      "mergeContext":"",
      "mustacheAltTags":false,
      "outputProperties":[
         
      ],
      "queue":"none",
      "blockInputOverrides":true,
      "domain":"media_player",
      "service":"turn_off",
      "x":2310,
      "y":260,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"c37cf6c9.93b9b8",
      "type":"server",
      "name":"Home Assistant",
      "version":6,
      "addon":true,
      "rejectUnauthorizedCerts":true,
      "ha_boolean":[
         "y",
         "yes",
         "true",
         "on",
         "home",
         "open"
      ],
      "connectionDelay":true,
      "cacheJson":true,
      "heartbeat":false,
      "heartbeatInterval":30,
      "areaSelector":"friendlyName",
      "deviceSelector":"friendlyName",
      "entitySelector":"friendlyName",
      "statusSeparator":"at: ",
      "statusYear":"hidden",
      "statusMonth":"short",
      "statusDay":"numeric",
      "statusHourCycle":"h23",
      "statusTimeFormat":"h:m",
      "enableGlobalContextStore":true
   },
   {
      "id":"64f6959c6ca857b1",
      "type":"global-config",
      "env":[
         
      ],
      "modules":{
         "node-red-contrib-home-assistant-websocket":"0.80.3"
      }
   }
]