home-automation/tv-proximity-sensor/node-red/auto-pause-flow.json
[
   {
      "id":"trig_close_stable",
      "type":"server-state-changed",
      "z":"66841a345adc48c5",
      "name":"1. Dichtbij (< 240cm)",
      "server":"c37cf6c9.93b9b8",
      "version":6,
      "outputs":2,
      "exposeAsEntityConfig":"",
      "entities":{
         "entity":[
            "sensor.tv_sensor_proxy_gedetecteerde_afstand"
         ],
         "substring":[
            
         ],
         "regex":[
            
         ]
      },
      "outputInitially":false,
      "stateType":"num",
      "ifState":"240",
      "ifStateType":"num",
      "ifStateOperator":"lt",
      "outputOnlyOnStateChange":true,
      "for":"0",
      "forType":"num",
      "forUnits":"seconds",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         
      ],
      "x":110,
      "y":60,
      "wires":[
         [
            "get_remote_stable"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"get_remote_stable",
      "type":"api-current-state",
      "z":"66841a345adc48c5",
      "name":"2. Haal Remote",
      "server":"c37cf6c9.93b9b8",
      "version":3,
      "outputs":1,
      "halt_if":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"media_player.android_tv_3",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"tv3",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "x":300,
      "y":60,
      "wires":[
         [
            "get_cast_stable"
         ]
      ]
   },
   {
      "id":"get_cast_stable",
      "type":"api-current-state",
      "z":"66841a345adc48c5",
      "name":"3. Haal Cast",
      "server":"c37cf6c9.93b9b8",
      "version":3,
      "outputs":1,
      "halt_if":"",
      "halt_if_type":"str",
      "halt_if_compare":"is",
      "entity_id":"media_player.android_tv_6",
      "state_type":"str",
      "blockInputOverrides":false,
      "outputProperties":[
         {
            "property":"tv6",
            "propertyType":"msg",
            "value":"",
            "valueType":"entity"
         }
      ],
      "x":470,
      "y":60,
      "wires":[
         [
            "decision_stable"
         ]
      ]
   },
   {
      "id":"decision_stable",
      "type":"function",
      "z":"66841a345adc48c5",
      "name":"4. Beslissing (Smart Check)",
      "func":"const tv3 = msg.tv3 || {};\nconst tv6 = msg.tv6 || {};\n\nconst appId = (tv3.attributes && tv3.attributes.app_id) ? tv3.attributes.app_id : \"\";\nconst castAppName = (tv6.attributes && tv6.attributes.app_name) ? tv6.attributes.app_name : \"\";\n\nconst castState = tv6.state || \"\";\nconst remoteState = tv3.state || \"\";\n\n// VERBODEN VOOR NETFLIX\nif (castAppName === 'Netflix' || castAppName === 'com.netflix.ninja' || appId === 'com.netflix.ninja') {\n    node.status({fill:\"red\",shape:\"dot\",text:\"Netflix genegeerd\"});\n    return null;\n}\n\n// DELTA: We weten de status niet, dus we gokken blind dat hij speelt\nif (appId === 'com.nep.delta.tv') {\n    node.status({fill:\"blue\",shape:\"dot\",text:\"Delta (Blind Actief)\"});\n    return [null, msg];\n}\n\n// ANDERE APPS (SmartTube): Pauzeer als een van beide 'playing' zegt\nif (castState === 'playing' || remoteState === 'playing') {\n    node.status({fill:\"green\",shape:\"dot\",text:\"Speelt!\"});\n    return [msg, null];\n}\n\nnode.status({fill:\"grey\",shape:\"dot\",text:\"C: \" + castState + \" R: \" + remoteState});\nreturn null;",
      "outputs":2,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":700,
      "y":60,
      "wires":[
         [
            "set_vlag_on"
         ],
         [
            "pause_action_stable"
         ]
      ]
   },
   {
      "id":"set_vlag_on",
      "type":"change",
      "z":"66841a345adc48c5",
      "name":"Vlag AAN",
      "rules":[
         {
            "t":"set",
            "p":"auto_paused",
            "pt":"flow",
            "to":"true",
            "tot":"bool"
         }
      ],
      "x":920,
      "y":20,
      "wires":[
         [
            "pause_action_stable"
         ]
      ]
   },
   {
      "id":"pause_action_stable",
      "type":"api-call-service",
      "z":"66841a345adc48c5",
      "name":"PAUZEER",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"remote.send_command",
      "entityId":[
         "remote.android_tv"
      ],
      "data":"{\"command\":\"KEYCODE_MEDIA_PAUSE\"}",
      "dataType":"json",
      "domain":"remote",
      "service":"send_command",
      "x":1120,
      "y":60,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"trig_far_stable",
      "type":"server-state-changed",
      "z":"66841a345adc48c5",
      "name":"7. Weg (> 260cm)",
      "server":"c37cf6c9.93b9b8",
      "version":6,
      "outputs":2,
      "exposeAsEntityConfig":"",
      "entities":{
         "entity":[
            "sensor.tv_sensor_proxy_gedetecteerde_afstand"
         ],
         "substring":[
            
         ],
         "regex":[
            
         ]
      },
      "outputInitially":false,
      "stateType":"num",
      "ifState":"260",
      "ifStateType":"num",
      "ifStateOperator":"gt",
      "outputOnlyOnStateChange":true,
      "for":"4",
      "forType":"num",
      "forUnits":"seconds",
      "ignorePrevStateNull":false,
      "ignorePrevStateUnknown":false,
      "ignorePrevStateUnavailable":false,
      "ignoreCurrentStateUnknown":false,
      "ignoreCurrentStateUnavailable":false,
      "outputProperties":[
         
      ],
      "x":110,
      "y":200,
      "wires":[
         [
            "check_vlag_stable"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"check_vlag_stable",
      "type":"switch",
      "z":"66841a345adc48c5",
      "name":"Moet ik hervatten?",
      "property":"auto_paused",
      "propertyType":"flow",
      "rules":[
         {
            "t":"true"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":1,
      "x":310,
      "y":200,
      "wires":[
         [
            "play_action_stable"
         ]
      ]
   },
   {
      "id":"play_action_stable",
      "type":"api-call-service",
      "z":"66841a345adc48c5",
      "name":"SPEEL",
      "server":"c37cf6c9.93b9b8",
      "version":7,
      "debugenabled":false,
      "action":"remote.send_command",
      "entityId":[
         "remote.android_tv"
      ],
      "data":"{\"command\":\"KEYCODE_MEDIA_PLAY\"}",
      "dataType":"json",
      "domain":"remote",
      "service":"send_command",
      "x":490,
      "y":200,
      "wires":[
         [
            "vlag_off_stable"
         ]
      ]
   },
   {
      "id":"vlag_off_stable",
      "type":"change",
      "z":"66841a345adc48c5",
      "name":"Vlag UIT",
      "rules":[
         {
            "t":"set",
            "p":"auto_paused",
            "pt":"flow",
            "to":"false",
            "tot":"bool"
         }
      ],
      "x":650,
      "y":200,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"c37cf6c9.93b9b8",
      "type":"server",
      "name":"Home Assistant",
      "version":6,
      "addon":true,
      "rejectUnauthorizedCerts":true,
      "ha_boolean":[
         "y",
         "yes",
         "true",
         "on",
         "home",
         "open"
      ],
      "connectionDelay":true,
      "cacheJson":true,
      "heartbeat":false,
      "heartbeatInterval":30,
      "areaSelector":"friendlyName",
      "deviceSelector":"friendlyName",
      "entitySelector":"friendlyName",
      "statusSeparator":"at: ",
      "statusYear":"hidden",
      "statusMonth":"short",
      "statusDay":"numeric",
      "statusHourCycle":"h23",
      "statusTimeFormat":"h:m",
      "enableGlobalContextStore":true
   },
   {
      "id":"6b3ad0a0b1c654d8",
      "type":"global-config",
      "env":[
         
      ],
      "modules":{
         "node-red-contrib-home-assistant-websocket":"0.80.3"
      }
   }
]